<div class="container-fluid">
  <div class="row">
    <h1 class="col" *ngIf="selectedCar">{{selectedCar['cardata']['Name']}}</h1>
  </div>
  <div class="row flex-md-row-reverse">
    <div class="col-md">
      <ngb-carousel [interval]="0" *ngIf="selectedCar">
        <ng-template ngbSlide *ngFor="let elem of selectedCar.base">
          <div class="picsum-img-wrapper">
            <img class="img-fluid" [src]="elem.url" alt="elem.description">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md">
      <form action="">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="tab" *ngFor="let tab of selectedCar.features">
            <a ngbNavLink>{{tab.option}}</a>
            <ng-template ngbNavContent>
              <div class="color-wrapper" *ngFor="let color of tab.colors; index as ind">
                <input class="visually-hidden" type="radio" [name]="tab.option" [id]="color.colorName+ind" [value]="tab.option+color.colorName" [checked]="color.isDefault">
                <label [for]="color.colorName+ind"><span class="visually-hidden">{{tab.option}}: {{color.colorName}}</span></label>
              </div>
            </ng-template>
          </li>
        </ul>


        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </form>

    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errors">
    <p>Please try again in a moment, an error has ocurred</p>
  </div>
</div>
