<div class="container-fluid">
  <div class="row">
    <h1 class="col" *ngIf="selectedCar">{{selectedCar['cardata']['Name']}}</h1>
  </div>
  <div class="row flex-md-row-reverse">
    <div class="col-md-8">
      <ngb-carousel [interval]="0" #carCarousel="ngbCarousel" *ngIf="selectedCar">
        <ng-template ngbSlide *ngFor="let elem of selectedCar.base; let i = index">
          <div class="picsum-img-wrapper">
            <img class="img-fluid base" [src]="elem.url" alt="elem.description">            
              <div class="pic-wrapper" *ngFor="let view of selectedCar.pictures[i]">
                <figure *ngFor="let color of view.colors; let ind = index">
                  <img *ngIf="color.isSelected" class="img-fluid" [src]="color.url" [alt]="color.color">
                </figure>
              </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-4">
      <form id="cust-form" action="">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active"  (navChange)="onNavChange($event)" class="nav-tabs">
          <li [ngbNavItem]="tab.option" *ngFor="let tab of selectedCar.features">
            <a ngbNavLink>{{tab.option | titlecase }}</a>
            <ng-template ngbNavContent>
              <div class="option-wrapper">
                <div class="color-wrapper" *ngFor="let color of tab.colors; index as ind">
                  <input class="sr-only" type="radio" [name]="tab.option" [id]="color.colorName+ind" [value]="tab.option+' '+color.colorName" [checked]="color.isDefault" (change)="selectOption($event)">
                  <label [for]="color.colorName+ind" [ngStyle]="{backgroundColor: color.color}"><span class="sr-only">{{tab.option}}: {{color.colorName}}</span></label>
                  <p class="price">{{color.price | currency}}</p>
                </div>                
              </div>                          
            </ng-template>
          </li>
          
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </form>

    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errors">
    <p>Please try again in a moment, an error has ocurred</p>
  </div>
</div>
