<div class="container-fluid">
  <div class="row">
    <h1 class="col" *ngIf="selectedCar">{{selectedCar['cardata']['Name']}}</h1>
  </div>
  <div class="row flex-md-row-reverse">
    <div class="col-md-8">
      <ngb-carousel [interval]="0" #carCarousel="ngbCarousel" *ngIf="selectedCar">
        <ng-template ngbSlide *ngFor="let elem of selectedCar.base; let i = index">
          <div class="picsum-img-wrapper">
            <img class="img-fluid base" [src]="elem.url" alt="elem.description">
            <div class="pic-wrapper" *ngFor="let view of selectedCar.pictures[i]">
              <figure *ngFor="let color of view.colors; let ind = index">
                <img *ngIf="color.isSelected" class="img-fluid" [src]="color.url" [alt]="color.color">
              </figure>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-4">
      <form id="cust-form" action="">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
          <li [ngbNavItem]="tab.option" *ngFor="let tab of selectedCar.features">
            <a ngbNavLink>{{tab.option | titlecase }}</a>
            <ng-template ngbNavContent>
              <div class="option-wrapper">
                <div class="color-wrapper" *ngFor="let color of tab.colors; index as ind">
                  <input class="sr-only" type="radio" [name]="tab.option" [id]="color.colorName+ind"
                    [value]="tab.option+' '+color.colorName" [checked]="color.isDefault"
                    (change)="selectOption($event)">
                  <label [for]="color.colorName+ind" [ngStyle]="{backgroundColor: color.color}"><span
                      class="sr-only">{{tab.option}}: {{color.colorName}}</span></label>
                  <p class="price">{{color.price | currency}}</p>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </form>
      <div class="price-wrapper">
        <h2>Price Of Painting</h2>
        <p>{{ priceSum | currency }}</p>
      </div>
      <div class="sharing-wrapper mt-4 mb-4">
        <h3>Share</h3>
        <!-- Sharingbutton Facebook -->
        <a class="resp-sharing-button__link"
          href="https://facebook.com/sharer/sharer.php?u={{urlToShare}}" target="_blank" rel="noopener"
          aria-label="Share with Facebook">
          <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z" />
                </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton Twitter -->
        <a class="resp-sharing-button__link"
          href="https://twitter.com/intent/tweet/?text=Car%20Styling%20Shop%20App.&amp;url={{urlToShare}}"
          target="_blank" rel="noopener" aria-label="Share with Twitter">
          <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm5.26 9.38v.34c0 3.48-2.64 7.5-7.48 7.5-1.48 0-2.87-.44-4.03-1.2 1.37.17 2.77-.2 3.9-1.08-1.16-.02-2.13-.78-2.46-1.83.38.1.8.07 1.17-.03-1.2-.24-2.1-1.3-2.1-2.58v-.05c.35.2.75.32 1.18.33-.7-.47-1.17-1.28-1.17-2.2 0-.47.13-.92.36-1.3C7.94 8.85 9.88 9.9 12.06 10c-.04-.2-.06-.4-.06-.6 0-1.46 1.18-2.63 2.63-2.63.76 0 1.44.3 1.92.82.6-.12 1.95-.27 1.95-.27-.35.53-.72 1.66-1.24 2.04z" />
                </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton E-Mail -->
        <a class="resp-sharing-button__link"
          href="mailto:?subject=Car%20Styling%20Shop%20App.&amp;body={{urlToShare}}"
          target="_self" rel="noopener" aria-label="Share by Email">
          <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm8 16c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2v8z" />
                <path
                  d="M17.9 8.18c-.2-.2-.5-.24-.72-.07L12 12.38 6.82 8.1c-.22-.16-.53-.13-.7.08s-.15.53.06.7l3.62 2.97-3.57 2.23c-.23.14-.3.45-.15.7.1.14.25.22.42.22.1 0 .18-.02.27-.08l3.85-2.4 1.06.87c.1.04.2.1.32.1s.23-.06.32-.1l1.06-.9 3.86 2.4c.08.06.17.1.26.1.17 0 .33-.1.42-.25.15-.24.08-.55-.15-.7l-3.57-2.22 3.62-2.96c.2-.2.24-.5.07-.72z" />
                </svg>
            </div>
          </div>
        </a>

        <!-- Sharingbutton WhatsApp -->
        <a class="resp-sharing-button__link"
          href="whatsapp://send?text=Car%20Styling%20Shop%20App.%20{{urlToShare}}"
          target="_blank" rel="noopener" aria-label="Share with Whatsapp">
          <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                <path
                  d="m12 0c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 3.8c2.2 0 4.2 0.9 5.7 2.4 1.6 1.5 2.4 3.6 2.5 5.7 0 4.5-3.6 8.1-8.1 8.1-1.4 0-2.7-0.4-3.9-1l-4.4 1.1 1.2-4.2c-0.8-1.2-1.1-2.6-1.1-4 0-4.5 3.6-8.1 8.1-8.1zm0.1 1.5c-3.7 0-6.7 3-6.7 6.7 0 1.3 0.3 2.5 1 3.6l0.1 0.3-0.7 2.4 2.5-0.7 0.3 0.099c1 0.7 2.2 1 3.4 1 3.7 0 6.8-3 6.9-6.6 0-1.8-0.7-3.5-2-4.8s-3-2-4.8-2zm-3 2.9h0.4c0.2 0 0.4-0.099 0.5 0.3s0.5 1.5 0.6 1.7 0.1 0.2 0 0.3-0.1 0.2-0.2 0.3l-0.3 0.3c-0.1 0.1-0.2 0.2-0.1 0.4 0.2 0.2 0.6 0.9 1.2 1.4 0.7 0.7 1.4 0.9 1.6 1 0.2 0 0.3 0.001 0.4-0.099s0.5-0.6 0.6-0.8c0.2-0.2 0.3-0.2 0.5-0.1l1.4 0.7c0.2 0.1 0.3 0.2 0.5 0.3 0 0.1 0.1 0.5-0.099 1s-1 0.9-1.4 1c-0.3 0-0.8 0.001-1.3-0.099-0.3-0.1-0.7-0.2-1.2-0.4-2.1-0.9-3.4-3-3.5-3.1s-0.8-1.1-0.8-2.1c0-1 0.5-1.5 0.7-1.7s0.4-0.3 0.5-0.3z" />
                </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="modal-trigger-wrapper row">
        <div class="col my-3">
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Technical data</button>
        </div>
        <div class="col my-3">
          <button class="btn btn-lg btn-primary" (click)="saveSelection(selectedCar)">Buy Service</button>
        </div>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h2 class="modal-title" id="modal-basic-title">{{selectedCar.cardata.Name}}</h2>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Features</h3>
          <p><strong>Miles per Galon:</strong> {{selectedCar.cardata.Miles_per_Gallon}}</p>
          <p><strong>Cylinders:</strong> {{selectedCar.cardata.Cylinders}}</p>
          <p><strong>HP:</strong> {{selectedCar.cardata.Horsepower}}</p>
          <p><strong>Weight:</strong> {{selectedCar.cardata.Weight_in_lbs}} lbs</p>
          <p><strong>Acceleration:</strong> {{selectedCar.cardata.Acceleration}} seconds</p>
          <p><strong>Year:</strong> {{selectedCar.cardata.Year}}</p>
          <p><strong>Origin:</strong> {{selectedCar.cardata.Origin}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errors">
    <p>Please try again in a moment, an error has ocurred</p>
  </div>
</div>
