<div class="container">
  <div class="row flex-md-row-reverse">
    <div class="col">
      <h1>Confirm your order</h1>
    </div>
    <div *ngIf="selectedCar" class="col-12">
      <p><button type="button" class="btn btn-primary" (click)="goingBack()">Back</button></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-carousel [interval]="0" #carCarousel="ngbCarousel" *ngIf="selectedCar">
        <ng-template ngbSlide *ngFor="let elem of selectedCar.base; let i = index">
          <div class="picsum-img-wrapper">
            <img class="img-fluid base" [src]="elem.url" alt="elem.description">
            <div class="pic-wrapper" *ngFor="let view of selectedCar.pictures[i]">
              <figure *ngFor="let color of view.colors; let ind = index">
                <img *ngIf="color.isSelected" class="img-fluid" [src]="color.url" [alt]="color.color">
              </figure>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col">
      <form [formGroup]="clientProfile" (ngSubmit)="sendingForm()" action="">
        <div class="alert alert-danger" #errorBanner *ngIf="formValidity" tabIndex="-1">
          <p>Please correct fields with errors</p>
        </div>
        <fieldset formGroupName="personalData">
          <legend>Personal Data</legend>
          <div class="mb-3">
            <label class="form-label"  for="firstname">Name</label>
            <input 
            id="firstname"
            class="form-control"
            formControlName="firstname"
            type="text"
            placeholder="Your Name"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.firstname').hasError('required')  && this.clientProfile.get('personalData.firstname').touched">
              <p class="error">This field is required</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"  for="lastname">Lastname</label>
            <input 
            id="lastname"
            class="form-control"
            formControlName="lastname"
            type="text"
            placeholder="Your Lastname"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.lastname').hasError('required')  && this.clientProfile.get('personalData.lastname').touched">
              <p class="error">This field is required</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"  for="address">Address</label>
            <input
            class="form-control" 
            id="address"
            formControlName="address"
            type="text"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.address').hasError('required')  && this.clientProfile.get('personalData.address').touched">
              <p class="error">This field is required</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"  for="phone">Phone</label>
            <input
            class="form-control" 
            id="phone"
            formControlName="phone"
            type="tel"
            [inputMask]="phoneMask"
            placeholder="_(__)___-____"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.phone').hasError('required')  && this.clientProfile.get('personalData.phone').touched">
              <p class="error">This field is required</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"  for="email">Email</label>
            <input
            class="form-control" 
            id="email"
            formControlName="email"
            type="email"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.email').hasError('required')  && this.clientProfile.get('personalData.email').touched">
              <p class="error">This field is required</p>
            </div>
            <div class="error-wrapper" *ngIf="this.clientProfile.get('personalData.email').hasError('email')  && (this.clientProfile.get('personalData.email').touched && this.clientProfile.get('personalData.email').dirty)">
              <p class="error">This field must be a valid email address</p>
            </div>
          </div>
        </fieldset>
        <fieldset formGroupName="paymentMethod">
          <legend>Payment Method</legend>
          <div class="mb-3">
            <label class="form-label"  for="ccard">Credit Card</label>
            <input 
            class="form-control"
            id="ccard"
            formControlName="ccard"
            type="text"
            [inputMask]="creditCardMask"
            placeholder="____ ____ ____ ____"
            >
            <div class="error-wrapper" *ngIf="this.clientProfile.get('paymentMethod.ccard').hasError('required')  && this.clientProfile.get('paymentMethod.ccard').touched">
              <p class="error">This field is required</p>
            </div>
            <div class="error-wrapper" *ngIf="this.clientProfile.get('paymentMethod.ccard').hasError('creditValidation')  && this.clientProfile.get('paymentMethod.ccard').touched">
              <p class="error">This field is required</p>
            </div>
            <span>{{this.clientProfile.get('paymentMethod.ccard').hasError('creditValidation')}}</span>
          </div>
          <div class="mb-3">
            <label class="form-label"  for="cardholdername">Card Holder Name</label>
            <input
            class="form-control" 
            id="cardholdername"
            formControlName="cardholdername"
            type="text"
            aria-describedby="cardholdernamehelp">
            <p id="cardholdernamehelp" class="form-text">Name as appear on the credit card</p>
          </div>
          <div class="mb-3 row">
           <div class="col">
            <label class="form-label"  for="expDate">Card Expiration Date</label>
            <input
            class="form-control" 
            id="expDate"
            formControlName="expDate"
            type="text"
            [inputMask]="dateObjforCC ">          
           </div>
           <div class="col">
            <label class="form-label"  for="expDate">Security Number</label>
            <input 
            class="form-control"
            id="secNumber"
            formControlName="secNumber"
            type="text">
           </div> 
          </div>
        </fieldset> 
        <div class="mb-5"><button class="btn btn-primary" type="submit">Submit</button></div>
      </form>
    </div>
  </div>

</div>
